/* Reset default margin and padding */

.space-grotesk-header {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Use any weight from 300 to 700 */
    font-style: normal;
  }
  
  .space-grotesk-paragraph {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Adjust weight as needed */
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Space Grotesk', Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    position: relative;
  }
  
  .highlighted-number {
    font-size: 120px;
    font-weight: bold;
    color: #f28d4c;
    float: left;
    line-height: 1;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .text-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .text-content p {
    margin-bottom: 20px;
    color: #555;
  }
  /* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
  }
  
  .logo img {
    width: 100px; /* Adjust the logo size as needed */
    margin-left: 20px;
  }
  
  .account {
    font-family: 'Space Grotesk', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .line {
    height: 5px;
    background-color: #f3913d;
    width: 100%;
    margin-top: 50px; /* Adjust based on header height */
  }
  
  .container {
    max-width: 800px;
    margin: 100px auto 0; /* Adjust top margin for header space */
    padding: 20px;
    position: relative;
  }
  
  .content {
    text-align: center;
  }
  
  .main-image {
    width: 100%;
    max-width: 800px; /* Optional to control image width */
    border-radius: 8px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .text-content {
    text-align: left;
    position: relative;
  }
  
  .highlighted-number {
    font-family: 'Space Grotesk', Arial, sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #f28d4c;
    float: left;
    line-height: 1;
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .text-content p {
    margin-bottom: 20px;
    color: #555;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 5px solid #f3913d; /* Orange bottom border */
    z-index: 1000;
}